@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');


:root {
    --responsive-width: min(935px, 100% - 0rem);
    --secondary-responsive-width: min(1005px, 100% - 4rem);
    /* color */
    --primary-grey-color: #f6f6f6;
    --secondary-grey-color: rgb(30, 30, 30);
    /* border */
    --primary-grey-border: 1px solid rgb(219, 219, 219);
    --secondary-grey-border: 2px solid rgb(110, 110, 110);
    --third-grey-border: 2px solid rgb(200, 200, 200);

    --alpha: 0.5;
    --tweet-color: rgb(0, 162, 255);
    --special-font: 'Sevillana', cursive;

    --test-border: 1px solid rgb(219, 219, 219);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

svg {
    width: 30px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: match-parent;
    margin-block-start: 1em;
}

/* ====== */
/* Custom */
/* ====== */
.fat {
    font-weight: 500;
}

.gigantesco {
    font-size: 20px;
}

.diminuto {
    font-size: 12px;
}

.elevator {
    padding: 5px;
    font-size: 10px;
    color: rgba(0, 0, 0, var(--alpha));
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, var(--alpha));
    border-radius: 30px;
}

.absolute_fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.details_banner_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 160, 160);
    width: 100%;
    height: auto;
    padding: 1rem;
}

.details_banner {
    text-align: center;
    width: var(--responsive-width);
}